* {
    box-sizing: border-box;   
}
html {
    box-sizing: inherit;
}
body{
    max-height: 100vh;
}
.main__container{
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    
    height: 80vh;
}
.main__title{
    top: 0;
    position: sticky;
    border: 2px solid black;
    padding: .8rem .5rem;
    margin-bottom: 0;
    text-align: center;
}
.main__wrapper{
    display: grid;
    grid-template-columns: 30% 70%;
}

.contacts--window-wrapper{
    padding-left: .5rem;
    overflow-y: scroll;
    height: 75vh;
    background-color: lightgray;
}
.channel__wrapper{
    display: flex;
    border-bottom: 2px solid darkgray;
    height: 5rem;
    align-items: center;
}
.channel__picture--wrapper > img{
    width: 4rem;
    align-self: center;
}
.channel__text--wrapper{
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    margin-left: 1rem;
    color: black;
}
.chat--window-wrapper{
    background-color: white;
   
    height: 75vh;
    overflow-y: scroll;
    
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    
}
.message__form--wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position: sticky;
    z-index: 5;
}

.message__form--field{
    width: 90%;
}
.message__form--wrapper > button{
    width: 10%;
    background-color: white;
    border: 1px solid black;
}
.messages__wrapper{
    display: flex;
    flex-direction: column;
    padding-left: .5rem;
    padding-right: .5rem;
}
.message__wrapper{
    max-width: 40%;
    padding: .4rem .4rem .4rem 0;
    margin: .5rem 0 .5rem 0;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .3rem;
}
.message__body{
    align-self: center;
    width: 100%;
    margin: .5rem;
    font-weight: bold;
}
.message__info{
    align-self: center;
    width: 100%;
    font-size: 1rem;
    margin: 0 .5rem;
    opacity: 80%;
}
.left{
    background-color: darkgray;
    align-self: flex-start;
    padding-left: .2rem;
}
.right{
    background-color: lightgray;  
    align-self: flex-end;
    text-align: right ;
    padding-right: .2rem;
    
}
.right > p{
    justify-self: flex-start;
}