* {
    box-sizing: border-box;   
}
html {
    box-sizing: inherit;
}
body{
    max-height: 100vh;
}
.main__container{
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    
    height: 80vh;
}
.main__title{
    top: 0;
    position: sticky;
    background-color: darkgray;
    padding: 1.2rem .5rem;
    margin-bottom: 0;
}
.main__wrapper{
    display: grid;
    grid-template-columns: 30% 70%;
}
.chat--window-wrapper{
    background-color: white;
    padding: .5rem;
}
.contacts--window-wrapper{
    padding-left: .5rem;
    overflow-y: scroll;
    height: 75vh;
    background-color: lightgray;
}
.channel__wrapper{
    display: flex;
    border-bottom: 2px solid darkgray;
    height: 5rem;
    align-items: center;
}
.channel__picture--wrapper > img{
    width: 4rem;
    align-self: center;
}
.channel__text--wrapper{
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    margin-left: 1rem;
}